* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-image: url("img/mapa.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-box {
    background-color: black;
    width: 850px;
    border-radius: 30px;
    padding: 20px;
}

.text-input {
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    background-color: #ffffff1a;
    border-radius: 15px;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
}

.custom-select {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.selected-option {
    background-color: #ffffff1a;
    color: #ffffff;
    padding: 16px;
    border-radius: 15px;
}

.options-list {
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background-color: #111111;
    border-radius: 15px;
    list-style: none;
    overflow: hidden;
    z-index: 10;
}

.options-list.open {
    display: block;
}

.options-list li {
    padding: 10px;
    color: #ffffff;
    transition: background 0.2s;
}

.options-list li:hover {
    background-color: #ffffff1a;
}

.btn-translate:hover {
    transition: background 0.2s ease-in-out;
    background-color: #ffffff33;
    display: flex;
    border-radius: 50%;
    border-width: 100%;
}

.btn-microphone:hover {
    transition: background 0.2s ease-in-out;
    background-color: #ffffff33;
    display: flex;
    border-radius: 50%;
    min-width: 22px;
}

button {
    border: none;
    padding: 10px;
    background-color: #ffffff1a;
    border-radius: 50%;;
    cursor: pointer;
}

.control {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.result {
    padding: 15px;
    background-color: #ffffff1a;
    border-radius: 15px;
}

.translate-title {
    color: #ffffff99;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.translate-text {
    color: #ffffff;
    font-size: 18px;
}
